In [1]:
import pandas as pd
import numpy as np

In [5]:
pd.options.display.max_columns = 500

# Feature Egineering 
### - Create time from last fight
### - ordinal encode Max_round
### - HomeTown will be logitude latitude 
### - Vectorize Name might help

In [6]:
df = pd.read_csv('clean_fights')
df.head()

,BPrev,BStreak,B_Age,B_Height,B_HomeTown,B_ID,B_Location,B_Name,B_Weight,Date,Event_ID,Fight_ID,Last_round,Max_round,RPrev,R_Age,R_Height,R_HomeTown,R_ID,R_Location,R_Name,R_Weight,winby,winner,avg_weight_lbs,weight_class
0,0,0,38.0,193.0,Hounslow England,808,Amsterdam The Netherlands,Alistair Overeem,120.0,02/03/2014,646,4580,3,3,0,39.0,190.0,"Las Vegas, Nevada USA",377,"Las Vegas, Nevada USA",Frank Mir,119.0,DEC,blue,262.9,Cruiserweight
1,0,0,36.0,172.0,"Chicago, Illinois United States",1054,"Chicago, Illinois United States",Ricardo Lamas,65.0,02/03/2014,646,4589,5,5,0,32.0,170.0,Manaus Brazil,1052,Rio de Janeiro Brazil,Jose Aldo,65.0,DEC,red,143.0,Bantamweight
2,0,0,39.0,167.0,"Isla Vista , California USA",959,"Sacramento, California USA",Urijah Faber,61.0,02/03/2014,646,4590,1,5,0,31.0,167.0,Natal Brazil,1527,Rio de Janeiro Brazil,Renan Barao,61.0,KO/TKO,red,134.2,Flyweight
3,0,0,33.0,167.0,"San Diego, CA USA",1056,"San Diego, CA USA",Danny Martinez,56.0,02/03/2014,646,4605,3,3,0,37.0,160.0,"San Jose, California USA",1253,"Tucson, Arizona USA",Chris Cariaso,56.0,DEC,red,123.2,Strawwweight
4,0,0,36.0,185.0,Southampton England,2005,Southampton England,Tom Watson,84.0,02/03/2014,646,4631,3,3,0,37.0,182.0,"Englewood, NJ USA",464,"Brick, NJ USA",Nick Catone,84.0,DEC,red,184.8,Super Welterweight

## Use Geopy to add longitude and latitude based off HomeTown

In [ ]:
from geopy import geocoders
gn = geocoders.GeoNames(username='pwalis')
location = gn.geocode('phoenix, AZ')

In [46]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent='pwalis')
location = geolocator.geocode("Chicago Illinois", addressdetails=True).raw

TypeError: unhashable type: 'list'

In [37]:
one = location
one

{'place_id': 235244846,
 'licence': 'Data Â© OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
 'osm_type': 'relation',
 'osm_id': 122604,
 'boundingbox': ['41.644531', '42.0230396', '-87.940101', '-87.5240812'],
 'lat': '41.8755616',
 'lon': '-87.6244212',
 'display_name': 'Chicago, Cook County, Illinois, United States of America',
 'class': 'place',
 'type': 'city',
 'importance': 0.9715295727100248,
 'icon': 'https://nominatim.openstreetmap.org/images/mapicons/poi_place_city.p.20.png'}

In [54]:
import time
start = time.process_time()
[geolocator.geocode(x) for x in df.R_HomeTown.head()]
print(time.process_time() - start)

0.046875