In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.options.display.max_columns = 500

# Feature Egineering 
### - Create time from last fight
### - ordinal encode Max_round
### - HomeTown will be logitude latitude 
### - Vectorize Name might help

In [114]:
df = pd.read_csv('clean_fights')
df.head()

,BPrev,BStreak,B_Age,B_Height,B_HomeTown,B_ID,B_Location,B_Name,B_Weight,Date,Event_ID,Fight_ID,Last_round,Max_round,RPrev,R_Age,R_Height,R_HomeTown,R_ID,R_Location,R_Name,R_Weight,winby,winner,avg_weight_lbs,weight_class
0,0,0,38.0,193.0,Hounslow England,808,Amsterdam The Netherlands,Alistair Overeem,120.0,02/03/2014,646,4580,3,3,0,39.0,190.0,"Las Vegas, Nevada USA",377,"Las Vegas, Nevada USA",Frank Mir,119.0,DEC,blue,262.9,Cruiserweight
1,0,0,36.0,172.0,"Chicago, Illinois United States",1054,"Chicago, Illinois United States",Ricardo Lamas,65.0,02/03/2014,646,4589,5,5,0,32.0,170.0,Manaus Brazil,1052,Rio de Janeiro Brazil,Jose Aldo,65.0,DEC,red,143.0,Bantamweight
2,0,0,39.0,167.0,"Isla Vista , California USA",959,"Sacramento, California USA",Urijah Faber,61.0,02/03/2014,646,4590,1,5,0,31.0,167.0,Natal Brazil,1527,Rio de Janeiro Brazil,Renan Barao,61.0,KO/TKO,red,134.2,Flyweight
3,0,0,33.0,167.0,"San Diego, CA USA",1056,"San Diego, CA USA",Danny Martinez,56.0,02/03/2014,646,4605,3,3,0,37.0,160.0,"San Jose, California USA",1253,"Tucson, Arizona USA",Chris Cariaso,56.0,DEC,red,123.2,Strawwweight
4,0,0,36.0,185.0,Southampton England,2005,Southampton England,Tom Watson,84.0,02/03/2014,646,4631,3,3,0,37.0,182.0,"Englewood, NJ USA",464,"Brick, NJ USA",Nick Catone,84.0,DEC,red,184.8,Super Welterweight

## Create time since last fight 
- group each fighter (need to group so that both corners are looked at for time line)
- order based on date
- use an array the size of the data set
- replace none values to the index of that fighter 
- do this for each corner

In [49]:
date = pd.to_datetime(df.Date)
df.Date = date
date.iloc[0]

Timestamp('2014-02-03 00:00:00')

In [ ]:
R_group = df.groupby('R_ID')
# len(R_group.groups)
R_group.groups

In [77]:
for name, subset in R_group.__iter__():
    print(subset.Date, '\n')
#     type(subset.Date)

526    2015-01-27
1102   2017-02-13
Name: Date, dtype: datetime64[ns]

447   2014-11-10
650   2015-05-11
878   2015-11-18
Name: Date, dtype: datetime64[ns]

496    2015-02-02
976    2016-02-29
1455   2017-02-13
Name: Date, dtype: datetime64[ns]

162   2014-05-21
Name: Date, dtype: datetime64[ns]

190   2014-06-09
429   2014-11-24
Name: Date, dtype: datetime64[ns]

851    2015-11-09
1307   2016-10-11
1476   2017-05-13
1568   2017-06-04
2085   2018-05-15
Name: Date, dtype: datetime64[ns]

1146   2016-07-11
Name: Date, dtype: datetime64[ns]

179   2014-05-12
253   2014-06-30
445   2014-11-10
Name: Date, dtype: datetime64[ns]

116    2014-04-21
393    2014-11-17
1050   2016-05-15
1221   2016-09-12
1660   2017-11-24
1732   2017-11-20
1775   2017-12-08
1982   2018-03-27
Name: Date, dtype: datetime64[ns]

172    2014-06-02
589    2015-03-23
694    2015-08-02
912    2016-05-10
1047   2016-05-17
1257   2016-08-28
1528   2017-05-14
1827   2017-12-08
2067   2018-05-22
Name: Date, dtype: datetime64[ns]

800   2015-10-01
970   2016-09-19
Name: Date, dtype: datetime64[ns]

12     2014-02-16
465    2014-12-22
558    2015-04-20
747    2015-07-01
1926   2018-02-10
Name: Date, dtype: datetime64[ns]

1267   2016-09-19
Name: Date, dtype: datetime64[ns]

579   2015-04-27
Name: Date, dtype: datetime64[ns]

287   2014-07-26
724   2015-07-17
Name: Date, dtype: datetime64[ns]

1625   2017-06-27
Name: Date, dtype: datetime64[ns]

364   2014-11-11
716   2015-06-22
Name: Date, dtype: datetime64[ns]

208    2014-06-16
814    2015-09-07
1210   2016-09-05
1438   2017-12-20
1592   2017-09-15
2030   2018-06-11
2177   2018-10-08
Name: Date, dtype: datetime64[ns]

141    2014-04-21
296    2014-08-25
570    2015-04-27
770    2015-07-23
1306   2016-10-11
1794   2017-11-27
1810   2017-11-05
Name: Date, dtype: datetime64[ns]

1272   2016-10-03
1439   2017-01-31
1816   2017-11-13
Name: Date, dtype: datetime64[ns]

321    2014-08-18
588    2015-04-06
1120   2016-07-11
1360   2016-12-05
1786   2017-07-10
2228   2018-10-08
Name: Date, dtype: datetime64[ns]

600   2014-12-16
615   2015-04-13
938   2015-12-14
Name: Date, dtype: datetime64[ns]

0     2014-02-03
725   2015-07-17
Name: Date, dtype: datetime64[ns]

685   2015-07-13
Name: Date, dtype: datetime64[ns]

1472   2017-03-06
2028   2018-06-11
Name: Date, dtype: datetime64[ns]

138   2014-04-21
345   2014-09-29
571   2015-04-27
792   2016-01-27
957   2016-01-18
Name: Date, dtype: datetime64[ns]

991    2016-02-08
1134   2016-05-30
1274   2017-07-27
1617   2017-07-31
1962   2018-02-19
Name: Date, dtype: datetime64[ns]

74     2014-05-12
506    2015-02-02
1655   2017-07-10
Name: Date, dtype: datetime64[ns]

187    2014-05-12
687    2015-07-13
1184   2016-08-01
1814   2018-10-07
Name: Date, dtype: datetime64[ns]

317    2014-08-18
638    2015-06-08
955    2016-01-18
1203   2016-07-14
1626   2017-06-27
Name: Date, dtype: datetime64[ns]

180   2014-05-12
350   2014-09-29
Name: Date, dtype: datetime64[ns]

764   2015-07-13
Name: Date, dtype: datetime64[ns]

164    2014-05-21
503    2015-02-02
1245   2016-08-08
1339   2016-11-20
1537   2017-04-24
1772   2017-12-08
2041   2018-05-15
2188   2018-10-08
Name: Date, dtype: datetime64[ns]

220    2014-07-08
432    2014-11-24
626    2015-05-18
934    2015-12-14
1317   2016-11-14
1529   2017-05-14
1950   2018-03-05
2023   2018-05-10
Name: Date, dtype: datetime64[ns]

142   2014-04-21
Name: Date, dtype: datetime64[ns]

145   2014-04-21
246   2014-07-08
Name: Date, dtype: datetime64[ns]

99     2014-03-07
668    2016-01-27
933    2015-11-30
1409   2017-01-02
1599   2017-09-15
Name: Date, dtype: datetime64[ns]

128    2014-03-24
434    2014-11-17
691    2016-11-14
1054   2016-12-10
1478   2017-03-13
2150   2018-07-22
Name: Date, dtype: datetime64[ns]

163    2014-05-21
288    2014-07-26
587    2015-04-06
860    2018-07-24
1631   2017-06-27
2037   2018-06-14
Name: Date, dtype: datetime64[ns]

902   2015-10-01
Name: Date, dtype: datetime64[ns]

90     2018-10-07
196    2018-10-07
1026   2018-10-07
1141   2018-10-07
1297   2017-04-18
2219   2018-10-08
Name: Date, dtype: datetime64[ns]

4   2014-02-03
Name: Date, dtype: datetime64[ns]

150    2014-05-24
291    2016-03-09
681    2015-07-13
914    2016-01-04
1181   2016-07-31
1623   2017-07-31
1839   2017-12-17
Name: Date, dtype: datetime64[ns]

285   2014-07-26
Name: Date, dtype: datetime64[ns]

460   2014-12-16
816   2015-09-07
Name: Date, dtype: datetime64[ns]

670    2015-06-15
1138   2016-07-11
Name: Date, dtype: datetime64[ns]

333    2014-08-25
1964   2018-02-24
Name: Date, dtype: datetime64[ns]

207    2016-02-01
319    2014-08-18
819    2015-10-05
1211   2016-09-04
1337   2016-12-08
Name: Date, dtype: datetime64[ns]

863   2015-12-21
Name: Date, dtype: datetime64[ns]

112    2014-05-23
560    2015-04-20
742    2015-07-27
943    2015-12-14
1143   2016-07-11
1322   2016-11-14
2019   2018-04-23
2217   2018-10-08
Name: Date, dtype: datetime64[ns]

598   2014-11-24
Name: Date, dtype: datetime64[ns]

122    2014-04-21
1519   2017-04-10
1961   2018-02-19
Name: Date, dtype: datetime64[ns]

271   2014-07-17
359   2014-09-15
856   2015-11-09
Name: Date, dtype: datetime64[ns]

630   2015-11-30
Name: Date, dtype: datetime64[ns]

286    2016-11-14
659    2015-05-29
809    2015-09-07
965    2016-02-01
1231   2016-08-22
Name: Date, dtype: datetime64[ns]

140   2014-04-21
790   2015-08-24
Name: Date, dtype: datetime64[ns]

51     2014-01-16
869    2016-02-16
1098   2016-06-05
1405   2016-12-18
Name: Date, dtype: datetime64[ns]

334    2014-09-08
504    2015-02-02
739    2015-07-27
936    2015-12-14
1256   2016-08-29
1420   2017-01-17
1546   2017-04-24
1821   2017-11-13
1988   2018-04-09
Name: Date, dtype: datetime64[ns]

802    2016-07-08
1280   2016-10-03
1729   2017-09-25
Name: Date, dtype: datetime64[ns]

10    2014-02-03
153   2014-06-03
454   2014-12-16
Name: Date, dtype: datetime64[ns]

115    2014-04-21
198    2014-06-09
457    2014-12-16
862    2015-12-20
1158   2016-07-11
1294   2016-11-07
2032   2018-06-11
Name: Date, dtype: datetime64[ns]

320   2014-08-18
646   2015-06-08
Name: Date, dtype: datetime64[ns]

456    2014-12-16
866    2015-12-21
2142   2018-07-16
Name: Date, dtype: datetime64[ns]

1229   2016-08-22
Name: Date, dtype: datetime64[ns]

523    2015-02-16
676    2015-06-15
904    2015-11-23
1076   2016-04-25
Name: Date, dtype: datetime64[ns]

476    2016-04-04
1551   2017-04-17
1694   2017-09-11
1892   2018-01-15
Name: Date, dtype: datetime64[ns]

1108   2016-06-20
Name: Date, dtype: datetime64[ns]

106    2014-05-23
413    2015-01-05
1068   2016-04-25
Name: Date, dtype: datetime64[ns]

73    2014-05-21
344   2014-09-29
489   2015-01-20
Name: Date, dtype: datetime64[ns]

415    2015-01-05
1263   2016-09-19
1990   2018-07-24
Name: Date, dtype: datetime64[ns]

692    2015-08-02
883    2015-11-18
1309   2016-10-11
1943   2018-03-05
Name: Date, dtype: datetime64[ns]

168   2014-06-02
353   2014-09-15
Name: Date, dtype: datetime64[ns]

232   2014-06-02
510   2015-03-04
634   2015-05-18
Name: Date, dtype: datetime64[ns]

92     2014-03-17
703    2017-11-03
1871   2018-01-01
1994   2018-04-16
Name: Date, dtype: datetime64[ns]

234    2014-06-02
723    2015-06-22
1213   2016-09-03
1575   2017-05-29
Name: Date, dtype: datetime64[ns]

270    2014-07-17
1232   2016-08-22
Name: Date, dtype: datetime64[ns]

34   2014-06-03
Name: Date, dtype: datetime64[ns]

113    2014-05-23
1594   2017-06-17
1730   2017-09-23
Name: Date, dtype: datetime64[ns]

101   2014-03-03
249   2014-06-30
656   2016-03-10
Name: Date, dtype: datetime64[ns]

304    2014-09-22
874    2015-11-18
1012   2016-03-21
1935   2018-02-11
Name: Date, dtype: datetime64[ns]

24     2014-01-07
1187   2015-12-14
Name: Date, dtype: datetime64[ns]

414    2017-02-13
1013   2017-02-13
1791   2017-09-18
Name: Date, dtype: datetime64[ns]

14   2014-02-16
Name: Date, dtype: datetime64[ns]

671   2015-06-15
Name: Date, dtype: datetime64[ns]

632    2015-05-18
801    2015-10-01
986    2016-02-29
1140   2016-07-11
1326   2016-11-20
Name: Date, dtype: datetime64[ns]

1049   2016-11-14
Name: Date, dtype: datetime64[ns]

337    2017-11-24
455    2017-11-24
1079   2017-11-24
1466   2017-11-24
1856   2017-12-04
2027   2018-06-14
Name: Date, dtype: datetime64[ns]

41     2014-02-24
325    2014-08-25
667    2015-05-25
992    2016-02-08
1164   2016-07-12
1407   2017-01-02
1951   2018-03-06
Name: Date, dtype: datetime64[ns]

453    2014-11-10
553    2015-03-16
771    2015-07-23
817    2015-09-07
959    2016-01-18
1122   2016-07-11
1192   2016-03-21
1207   2016-08-01
1328   2016-11-20
1938   2018-02-11
Name: Date, dtype: datetime64[ns]

396   2014-11-17
Name: Date, dtype: datetime64[ns]

1323   2016-11-14
1858   2017-12-04
2171   2018-07-30
Name: Date, dtype: datetime64[ns]

13     2014-02-16
335    2014-09-08
565    2015-04-19
889    2015-12-14
1046   2016-05-15
1454   2017-02-13
1553   2017-04-16
1911   2018-02-10
2038   2018-05-15
Name: Date, dtype: datetime64[ns]

108    2016-12-01
425    2014-11-24
663    2015-05-24
826    2015-10-05
997    2016-02-08
1364   2016-12-05
2026   2018-06-11
Name: Date, dtype: datetime64[ns]

226   2014-07-08
828   2015-10-05
Name: Date, dtype: datetime64[ns]

27    2014-01-07
591   2014-09-22
803   2015-10-01
Name: Date, dtype: datetime64[ns]

23     2014-01-07
966    2016-02-01
1130   2016-05-31
1597   2017-09-15
Name: Date, dtype: datetime64[ns]

87     2014-03-17
406    2014-12-08
551    2015-03-16
988    2016-02-08
1139   2016-07-11
1408   2017-01-02
1463   2017-02-22
1808   2017-11-05
Name: Date, dtype: datetime64[ns]

78     2014-07-08
411    2014-12-08
911    2015-12-14
1224   2016-09-11
1400   2016-12-18
Name: Date, dtype: datetime64[ns]

82     2014-01-27
184    2014-05-12
745    2015-07-27
1496   2016-12-19
2145   2018-07-16
Name: Date, dtype: datetime64[ns]

394    2014-11-17
507    2015-03-04
755    2015-07-13
1363   2016-12-05
1547   2017-04-24
2054   2018-06-02
2094   2018-10-08
Name: Date, dtype: datetime64[ns]

1034   2016-04-11
Name: Date, dtype: datetime64[ns]

637    2016-02-04
1193   2016-04-11
Name: Date, dtype: datetime64[ns]

408   2014-12-08
Name: Date, dtype: datetime64[ns]

548    2015-03-16
989    2016-02-08
1160   2016-07-11
1284   2016-09-25
Name: Date, dtype: datetime64[ns]

197   2014-06-09
374   2014-10-27
727   2015-07-17
Name: Date, dtype: datetime64[ns]

42     2016-04-01
382    2014-10-06
1444   2017-01-31
1781   2017-06-05
1825   2017-11-13
2006   2018-07-09
Name: Date, dtype: datetime64[ns]

357    2014-09-14
735    2015-07-17
1176   2016-07-14
1489   2016-09-26
1500   2017-03-13
1971   2018-02-24
2200   2018-10-08
Name: Date, dtype: datetime64[ns]

76     2014-06-29
568    2015-04-19
1061   2016-04-17
1241   2016-08-08
1388   2016-12-11
1535   2017-04-24
1883   2017-12-13
2111   2018-10-08
Name: Date, dtype: datetime64[ns]

154   2014-05-24
561   2015-04-20
806   2015-09-27
Name: Date, dtype: datetime64[ns]

1      2014-02-03
372    2014-10-27
887    2015-12-14
1137   2016-07-11
1560   2017-06-05
2161   2018-07-30
Name: Date, dtype: datetime64[ns]

218    2014-06-30
395    2014-11-17
840    2017-04-18
1304   2016-11-07
1615   2017-07-31
1846   2017-12-17
2035   2018-06-11
Name: Date, dtype: datetime64[ns]

754   2015-06-29
Name: Date, dtype: datetime64[ns]

343    2014-09-29
1092   2016-06-05
1410   2017-01-02
Name: Date, dtype: datetime64[ns]

202    2014-06-16
796    2015-08-24
1201   2015-08-25
Name: Date, dtype: datetime64[ns]

71    2014-05-23
421   2015-01-05
Name: Date, dtype: datetime64[ns]

64    2014-01-27
191   2014-06-08
327   2014-08-25
519   2015-02-16
925   2015-11-30
Name: Date, dtype: datetime64[ns]

405    2014-12-08
547    2015-03-16
953    2016-01-18
1074   2016-04-25
1252   2016-12-06
1661   2017-07-10
Name: Date, dtype: datetime64[ns]

81     2014-01-27
118    2014-04-21
268    2014-07-17
351    2014-09-29
420    2015-01-05
486    2015-01-19
661    2015-05-24
1008   2016-02-22
1103   2016-06-20
1392   2016-12-11
1437   2017-01-31
1705   2017-10-23
2080   2018-02-19
2117   2018-06-23
Name: Date, dtype: datetime64[ns]

158   2014-05-25
Name: Date, dtype: datetime64[ns]

505   2015-02-02
Name: Date, dtype: datetime64[ns]

185    2014-05-12
1133   2016-05-30
1916   2018-02-10
Name: Date, dtype: datetime64[ns]

513    2015-03-04
1004   2016-02-22
1659   2017-07-10
1894   2018-01-15
2207   2018-10-08
Name: Date, dtype: datetime64[ns]

47   2014-02-24
Name: Date, dtype: datetime64[ns]

704    2016-09-19
867    2015-12-21
1451   2017-02-13
1485   2016-09-11
1740   2017-11-20
2057   2018-06-02
Name: Date, dtype: datetime64[ns]

33     2014-03-10
525    2015-01-27
1215   2016-09-03
1570   2017-05-29
Name: Date, dtype: datetime64[ns]

93   2014-04-02
Name: Date, dtype: datetime64[ns]

381   2014-10-27
Name: Date, dtype: datetime64[ns]

100   2014-03-07
338   2014-09-08
Name: Date, dtype: datetime64[ns]

35     2017-07-08
260    2014-07-21
431    2014-11-24
688    2015-07-13
1311   2016-10-11
1502   2017-03-18
Name: Date, dtype: datetime64[ns]

40     2014-02-24
204    2014-06-16
383    2014-10-06
1196   2016-06-20
Name: Date, dtype: datetime64[ns]

1946   2018-03-05
Name: Date, dtype: datetime64[ns]

111   2014-05-23
532   2015-01-26
Name: Date, dtype: datetime64[ns]

1056   2016-05-15
1282   2016-09-26
1620   2017-07-31
1875   2018-01-01
1949   2018-03-05
Name: Date, dtype: datetime64[ns]

89   2017-02-13
Name: Date, dtype: datetime64[ns]

642   2015-06-08
Name: Date, dtype: datetime64[ns]

103   2014-03-03
Name: Date, dtype: datetime64[ns]

3     2014-02-03
182   2014-05-12
549   2015-03-16
903   2015-10-05
Name: Date, dtype: datetime64[ns]

120    2014-04-21
349    2014-09-29
582    2015-04-06
756    2015-07-13
1135   2016-05-31
Name: Date, dtype: datetime64[ns]

53     2014-01-16
110    2014-05-23
443    2014-11-10
1091   2016-06-05
1745   2017-09-18
Name: Date, dtype: datetime64[ns]

117    2014-04-21
305    2014-09-22
500    2015-02-02
738    2015-07-27
1144   2016-07-11
1491   2016-11-14
Name: Date, dtype: datetime64[ns]

1031   2016-03-07
1413   2017-01-02
Name: Date, dtype: datetime64[ns]

1226   2017-01-31
1920   2018-02-10
2199   2018-10-08
Name: Date, dtype: datetime64[ns]

1998   2018-04-16
2226   2018-10-08
Name: Date, dtype: datetime64[ns]

18   2014-02-16
Name: Date, dtype: datetime64[ns]

143   2014-04-21
870   2015-12-20
Name: Date, dtype: datetime64[ns]

297    2014-08-25
501    2015-02-02
1468   2017-03-06
1622   2017-07-31
2216   2018-10-08
Name: Date, dtype: datetime64[ns]

696   2016-02-01
Name: Date, dtype: datetime64[ns]

593    2014-09-29
1393   2016-12-11
Name: Date, dtype: datetime64[ns]

68     2014-02-24
161    2014-05-24
820    2015-10-05
1147   2016-07-11
1514   2017-04-10
1614   2017-09-13
1904   2018-01-21
Name: Date, dtype: datetime64[ns]

743    2015-07-27
1329   2016-11-20
1554   2017-04-17
2068   2018-05-21
Name: Date, dtype: datetime64[ns]

2130   2018-07-09
Name: Date, dtype: datetime64[ns]

356    2014-09-15
537    2015-02-23
693    2015-08-02
1080   2016-05-09
Name: Date, dtype: datetime64[ns]

247   2015-07-07
734   2015-07-17
Name: Date, dtype: datetime64[ns]

192   2014-06-09
Name: Date, dtype: datetime64[ns]

1866   2017-12-04
2077   2018-01-21
Name: Date, dtype: datetime64[ns]

868   2016-09-19
Name: Date, dtype: datetime64[ns]

248    2014-06-30
1014   2016-03-21
Name: Date, dtype: datetime64[ns]

56   2014-01-16
Name: Date, dtype: datetime64[ns]

283    2017-12-14
1228   2016-09-12
Name: Date, dtype: datetime64[ns]

580   2015-04-06
680   2015-07-13
Name: Date, dtype: datetime64[ns]

65     2014-01-27
379    2014-10-27
472    2014-12-22
838    2015-10-26
1025   2016-03-07
1155   2016-07-25
1893   2018-01-15
2143   2018-07-16
Name: Date, dtype: datetime64[ns]

896   2015-05-31
Name: Date, dtype: datetime64[ns]

205    2014-06-16
346    2014-09-29
569    2015-04-27
808    2015-12-23
1069   2016-04-25
1370   2016-12-05
1552   2017-04-17
1792   2017-12-08
2112   2018-10-08
Name: Date, dtype: datetime64[ns]

98     2016-12-05
210    2014-06-16
566    2015-04-20
993    2016-02-08
1308   2016-10-11
1427   2017-02-06
1544   2017-04-24
1723   2017-09-25
1970   2018-06-06
2071   2017-11-05
2118   2018-06-23
2225   2018-10-08
Name: Date, dtype: datetime64[ns]

126    2014-04-21
784    2015-08-09
974    2016-02-01
1538   2017-04-24
1671   2017-08-07
1902   2018-01-21
2164   2018-07-28
Name: Date, dtype: datetime64[ns]

586   2015-04-06
Name: Date, dtype: datetime64[ns]

404   2014-12-08
662   2015-05-25
954   2016-01-18
Name: Date, dtype: datetime64[ns]

2      2014-02-03
160    2014-05-25
468    2014-12-22
1127   2016-05-30
1283   2016-09-26
1967   2018-02-25
2093   2018-10-08
Name: Date, dtype: datetime64[ns]

16     2014-03-07
1202   2015-12-19
1864   2017-12-04
2193   2018-10-08
Name: Date, dtype: datetime64[ns]

2016   2018-04-23
Name: Date, dtype: datetime64[ns]

906    2015-12-14
1062   2016-04-17
1242   2016-08-08
1414   2017-01-17
1820   2017-11-13
Name: Date, dtype: datetime64[ns]

119    2014-04-21
416    2015-01-05
649    2015-05-11
1227   2016-09-12
1650   2017-07-10
2132   2018-07-09
Name: Date, dtype: datetime64[ns]

315   2014-08-18
621   2015-04-13
Name: Date, dtype: datetime64[ns]

657    2016-02-11
877    2015-11-18
924    2016-01-04
1171   2016-07-14
1353   2016-11-27
Name: Date, dtype: datetime64[ns]

242    2014-07-08
783    2015-08-09
1128   2016-05-31
1191   2016-02-22
Name: Date, dtype: datetime64[ns]

340    2014-09-08
502    2015-02-02
973    2016-02-01
1318   2016-11-14
1647   2017-07-24
Name: Date, dtype: datetime64[ns]

146    2014-04-21
347    2014-09-29
581    2015-04-30
643    2015-06-08
918    2016-06-28
1093   2016-06-05
1261   2016-09-19
1452   2017-02-13
1823   2017-11-13
1993   2018-04-16
Name: Date, dtype: datetime64[ns]

585    2015-04-06
1319   2016-11-14
2140   2018-07-16
Name: Date, dtype: datetime64[ns]

941    2015-12-14
1882   2017-12-12
Name: Date, dtype: datetime64[ns]

930   2015-11-30
Name: Date, dtype: datetime64[ns]

920    2016-01-04
1173   2016-07-14
Name: Date, dtype: datetime64[ns]

243   2014-07-08
528   2015-01-26
744   2015-07-27
Name: Date, dtype: datetime64[ns]

272    2014-07-17
541    2015-02-23
737    2015-07-27
935    2015-12-14
1151   2016-07-25
1477   2017-03-13
2020   2018-05-10
Name: Date, dtype: datetime64[ns]

131   2014-03-24
375   2014-10-27
853   2016-12-10
Name: Date, dtype: datetime64[ns]

5      2014-02-03
575    2015-04-27
907    2015-12-14
1163   2016-07-11
1384   2016-12-11
1841   2017-12-17
2168   2018-07-28
Name: Date, dtype: datetime64[ns]

433    2014-11-24
1557   2017-04-17
Name: Date, dtype: datetime64[ns]

645    2015-06-08
811    2015-09-07
980    2016-02-29
1182   2016-07-31
Name: Date, dtype: datetime64[ns]

195    2014-06-09
1515   2017-04-10
1639   2017-07-24
Name: Date, dtype: datetime64[ns]

19     2014-02-16
360    2014-09-15
542    2015-02-23
698    2015-08-02
972    2016-02-21
1470   2017-03-06
1569   2017-06-05
1928   2018-02-10
Name: Date, dtype: datetime64[ns]

67     2014-03-10
780    2015-08-10
865    2015-12-20
1656   2017-07-10
2203   2018-10-08
Name: Date, dtype: datetime64[ns]

610    2015-03-23
1027   2016-03-07
1406   2017-01-02
1695   2017-09-11
2039   2018-05-15
Name: Date, dtype: datetime64[ns]

1884   2017-12-12
2003   2018-04-16
Name: Date, dtype: datetime64[ns]

250    2014-06-30
740    2015-07-27
1030   2016-03-07
1373   2018-02-11
1906   2018-01-21
2053   2018-06-03
Name: Date, dtype: datetime64[ns]

1087   2016-05-09
Name: Date, dtype: datetime64[ns]

85     2014-01-27
308    2014-09-22
1189   2016-02-01
1443   2017-01-31
1602   2018-06-14
2134   2018-07-09
Name: Date, dtype: datetime64[ns]

239    2014-07-08
660    2015-05-25
888    2015-12-14
1324   2016-11-14
1513   2017-04-09
1637   2017-07-24
Name: Date, dtype: datetime64[ns]

186   2014-05-12
Name: Date, dtype: datetime64[ns]

54    2014-01-16
280   2014-09-02
917   2016-01-04
Name: Date, dtype: datetime64[ns]

785    2015-08-10
1002   2016-02-21
1782   2017-06-11
1826   2017-12-08

In [107]:
R_group.groups[129][0]

numpy.int64

In [109]:
R_delta = np.empty(df.shape[0], dtype=pd.Timestamp)

In [113]:
R_delta[100]

Timestamp('2014-03-07 00:00:00')

In [112]:
for name, subset in R_group.__iter__():
        for index in subset.index:
            R_delta[index] = df.iloc[index].Date
#         print('\n')

## Vectorize names with word to vec
 - I don't think this will work because there's already an ID

In [16]:
from nltk.tokenize import sent_tokenize, word_tokenize
import warnings 
  
warnings.filterwarnings(action = 'ignore') 
  
import gensim 
from gensim.models import Word2Vec

In [24]:
names = df.head().B_Name.values

In [25]:
names

array(['Alistair Overeem', 'Ricardo Lamas', 'Urijah Faber',
       'Danny Martinez', 'Tom Watson'], dtype=object)

In [29]:
tokens = [word_tokenize(x) for x in names]
tokens

[['Alistair', 'Overeem'],
 ['Ricardo', 'Lamas'],
 ['Urijah', 'Faber'],
 ['Danny', 'Martinez'],
 ['Tom', 'Watson']]

In [28]:
[Word2Vec(x) for x in tokens]

RuntimeError: you must first build vocabulary before training the model

## Use Geopy to add longitude and latitude based off HomeTown

In [ ]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent='pwalis', timeout=3)
location = geolocator.geocode("Brazil", addressdetails=True)

In [ ]:
one = location

In [ ]:
import time
start = time.process_time()
[geolocator.geocode(x) for x in df.R_HomeTown.head(30)]
print(time.process_time() - start)

In [ ]:
R_geo = []
i = 0
for x in df.R_HomeTown:
    i+=1
    print(i)
    geo_info = geolocator.geocode(x)
    R_geo.append(geo_info)
# honestly I just want a green square

A lot of places aren't getting recognized as a location I should look into how the api expects the input
Research how to handle different errors 
if statements based on the error, If it can't get the location info add an entry into the dict that has the hometown string

In [27]:
from geopy.exc import GeocoderTimedOut
i = 0
R_geo = dict()
for x in df.R_HomeTown:
    i+=1 
    try:
        location = geolocator.geocode(x).raw
        R_geo.update({i:location})
    except Exception as e:
        print("Error: geocode failed on input %s with message %s"%(x, e))

Error: geocode failed on input Espiritos Santos Brazil with message 'NoneType' object has no attribute 'raw'
Error: geocode failed on input Celle Saint Cloud, Paris France with message 'NoneType' object has no attribute 'raw'
Error: geocode failed on input Nagoya, Aichi Pref. Japan with message 'NoneType' object has no attribute 'raw'
Error: geocode failed on input Pine Ridge, Sout Dakota USA with message 'NoneType' object has no attribute 'raw'
Error: geocode failed on input Nagoya, Aichi Pref. Japan with message 'NoneType' object has no attribute 'raw'
Error: geocode failed on input Azle, Texas Untied States with message 'NoneType' object has no attribute 'raw'
Error: geocode failed on input Espiritos Santos Brazil with message 'NoneType' object has no attribute 'raw'
Error: geocode failed on input Montego Bay, Jamaica West Indies with message 'NoneType' object has no attribute 'raw'
Error: geocode failed on input Pine Ridge, Sout Dakota USA with message 'NoneType' object has no attribute 'raw'
Error: geocode failed on input Inner Mongolia Province P.R. China with message 'NoneType' object has no attribute 'raw'
Error: geocode failed on input Azle, Texas Untied States with message 'NoneType' object has no attribute 'raw'
Error: geocode failed on input Montego Bay, Jamaica West Indies with message 'NoneType' object has no attribute 'raw'
Error: geocode failed on input Espiritos Santos Brazil with message 'NoneType' object has no attribute 'raw'
Error: geocode failed on input Goetapeh Iran with message 'NoneType' object has no attribute 'raw'
Error: geocode failed on input Joinvillve, Santa Catarina Brazil with message 'NoneType' object has no attribute 'raw'
Error: geocode failed on input Inner Mongolia Province P.R. China with message 'NoneType' object has no attribute 'raw'
Error: geocode failed on input Nagoya, Aichi Pref. Japan with message 'NoneType' object has no attribute 'raw'
Error: geocode failed on input Joinvillve, Santa Catarina Brazil with message 'NoneType' object has no attribute 'raw'
Error: geocode failed on input Vitry-sur-Seine, Paris France with message 'NoneType' object has no attribute 'raw'
Error: geocode failed on input Espiritos Santos Brazil with message 'NoneType' object has no attribute 'raw'
Error: geocode failed on input Kangwon-do South Korea with message 'NoneType' object has no attribute 'raw'
Error: geocode failed on input Joinvillve, Santa Catarina Brazil with message 'NoneType' object has no attribute 'raw'
Error: geocode failed on input Espiritos Santos Brazil with message 'NoneType' object has no attribute 'raw'
Error: geocode failed on input Goetapeh Iran with message 'NoneType' object has no attribute 'raw'
Error: geocode failed on input Goetapeh Iran with message 'NoneType' object has no attribute 'raw'
Error: geocode failed on input St-Jean Sur Richelieu, Quebec, Canada, Quebec Canada with message 'NoneType' object has no attribute 'raw'
Error: geocode failed on input Ibaraki Japan with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Angels Camp, California USA with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Miami, Florida United States with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Sokolow, Podlaski Poland with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Alameda, California United States with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Sunderland England with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Kenosha, Wisconsin USA with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Middlemore New Zealand with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Gunma Japan with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Quesnel, B.C. Canada with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Daegu South Korea with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Long Island, New York United States with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Chicago, Illinois United States with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Tijuana, Baja California Mexico with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Port au Prince Haiti with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Sao Paulo Brazil with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Lincolnville, Maine United States with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Taunton  England with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Kremenchuk Ukraine with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Milwaukee, Wisconsin United States with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Sunderland England with message HTTP Error 429: Too Many Requests
Error: geocode failed on input San Diego, California USA with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Januaria, Minas Gerais Brazil with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Minsk Belarus with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Reno, Nevada USA with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Yorkshire England with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Zabrze Poland with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Nuremberg Germany with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Arboga Sweden with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Elsdorf Germany with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Dagestan Russia with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Ukiah, California United States with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Paris France with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Euclid, Ohio United States with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Porto Alegre Brazil with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Barberton, Ohio United States with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Chicago, Illinois USA with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Isla Vista , California USA with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Umuarama, Parana Brazil with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Omaha, Nebraska United States  with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Kailua, Hawaii United States with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Makaha, Hawaii United States with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Stockton, California USA with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Seoul South Korea with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Dublin, Georgia United States with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Tacoma, WA USA with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Blumenau, Santa Catarina Brazil with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Brooklyn, New York United States with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Uhrichsville, Ohio USA with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Nizhny Novgorod Russia with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Wilburton, Oklahoma United States with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Colorado Springs, Colorado United States with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Baghdad Iraq with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Parral, Chihuahua Mexico with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Palm Springs, California United States with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Ogden, UT USA with message HTTP Error 429: Too Many Requests
Error: geocode failed on input La Plata Argentina with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Pribram Czech Republic with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Rio de Janeiro Brazil with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Saugerties, New York United States with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Vancouver, Washington United States with message HTTP Error 429: Too Many Requests
Error: geocode failed on input D'Iberville, Mississippi United States with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Järfälla Sweden with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Kagoshima Japan with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Volnogorsk Ukraine with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Milwaukee, Wisconsin United States with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Vereeniging, Gauteng South Africa with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Newberg, Oregon United States with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Lima Peru with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Brockton, Massachusetts United States with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Sao Paulo Brazil with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Milwaukee, Wisconsin United States with message HTTP Error 429: Too Many Requests
Error: geocode failed on input St. Catharines, Ontario Canada with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Surrey, British Columbia Canada with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Lafayette, Louisiana United States with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Spanish Town Jamaica with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Eugene, Oregon United States with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Tijuana, Baja California Mexico with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Tlaltenango, Zacatecas Mexico with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Azle, Texas Untied States with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Rio De Janeiro Brazil with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Mexico City, Distrito Federal Mexico with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Mexico City Mexico with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Rockville Centre, New York United States with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Dagestan Russia with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Lander, Wyoming United States with message HTTP Error 429: Too Many Requests
Error: geocode failed on input Chicago, Illinois United States with message HTTP Error 429: Too Many Requests

KeyboardInterrupt:

In [29]:
len(R_geo)

1161

In [38]:
i=0
while i<1162:
    i+=1
    if len(R_geo[i])<10:
        print(R_geo[i])

KeyError: 14

In [42]:
R_geo.keys()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 328, 329, 330, 331, 332, 333, 334, 335, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 564, 565, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 594, 595, 596, 597, 598, 599, 600, 601, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000, 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1022, 1023, 1024, 1025, 1026, 1027, 1028, 1029, 1030, 1031, 1032, 1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043, 1044, 1045, 1046, 1048, 1049, 1050, 1051, 1052, 1053, 1054, 1055, 1056, 1057, 1058, 1059, 1061, 1062, 1063, 1064, 1065, 1066, 1067, 1068, 1069, 1070, 1071, 1072, 1073, 1074, 1075, 1076, 1077, 1078, 1079, 1080, 1081, 1082, 1083, 1084, 1085, 1086, 1087, 1088, 1089, 1090, 1091, 1092, 1093, 1094, 1096, 1097, 1098, 1099, 1100, 1101, 1102, 1103, 1104, 1106, 1107, 1108, 1109, 1110, 1111, 1112, 1113, 1114, 1115, 1116, 1117, 1118, 1119, 1120, 1121, 1122, 1123, 1124, 1125, 1126, 1127, 1128, 1129, 1130, 1131, 1132, 1133, 1134, 1135, 1136, 1137, 1138, 1139, 1140, 1141, 1142, 1143, 1144, 1145, 1146, 1147, 1148, 1149, 1150, 1151, 1152, 1153, 1154, 1155, 1156, 1157, 1158, 1159, 1160, 1161, 1162, 1163, 1164, 1165, 1166, 1167, 1168, 1169, 1170, 1171, 1172, 1173, 1174, 1175, 1176, 1177, 1178, 1179, 1180, 1181, 1182, 1183, 1184, 1185, 1186, 1187])